html {
  box-sizing: border-box;
}

*,
* ::after,
* ::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/* Header */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo */
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.header-logo-span {
  color: #2196f3;
}

/* Nav */
@media screen and (max-widht: 767px) {
  .header-nav {
    display: none;
  }
  .header-contact {
    display: none;
  }
  .burger__button {
    border: none;
    background-color: transparent;
  }
}
/* Desktop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50px, -50%) scale(0);
}

/* Form */
.modal-form {
  position: relative;
}

.modal-input-title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: #757575;
}

.modal-form-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}
.modal-form-input:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
}

.modal-form-input:focus + .modal-icon {
  fill: #2196F3;
}

/* Comment */
.modal-form-input-comment {
  resize: none;
  padding: 12px 16px;
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-title {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.checkbox-link {
  color: #2196f3;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}

.modal-button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 52px;
  display: flex;
  margin: auto;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms ease-in;
}

.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.6px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-close:hover, .button-close:focus {
  fill: #2196F3;
  border: 1px solid #2196F3;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: white;
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    transition: opacity 900ms ease-in, transform 900ms ease-in;
  }
  .menu {
    display: block;
  }
  .mobile-list {
    margin-bottom: 32px;
  }
  .mobile-item {
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
  }
  .mobile-item:not(:last-child),
  .mobile-contact-item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-list-contact {
    margin-bottom: 44px;
  }
  .mobile-contact-item {
    color: #757575;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;
  }
  .mobile-item:hover,
  .mobile-item:focus,
  .mobile-contact-item:hover,
  .mobile-contact-item:focus {
    color: #2196F3;
  }
  .mobile-social-list {
    display: flex;
  }
  .mobile-social-item {
    color: #2196F3;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
  }
  .mobile-social-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}