@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
* ::after,
* ::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
/* footer */
.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer {
  background: #2f303a;
  padding: 60px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-logo-studio {
  margin-bottom: 20px;
}

.footer-contact-item {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-contact-item-gray {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-joing-title {
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-joing-list {
  display: flex;
}

.footer-joing-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icons-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-icons-link:hover,
.footer-social-icons-link:focus {
  background-color: #2196f3;
}

.footer-social-icon {
  fill: #fff;
}

.footer-social-icons-link:hover .footer-social-icon {
  fill: #fff;
}

/* Form */
.submit-form {
  display: flex;
  align-items: center;
}

.submit-input::-moz-placeholder {
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-input::placeholder {
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: #2f303a;
  color: #fff;
  padding-left: 16px;
}

.footer-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 28px;
  cursor: pointer;
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-widht: 767px) {
  nav {
    display: none;
  }
  .contact {
    display: none;
  }
}
.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background: #2196f3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}

.header {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-logo-studio {
  margin-right: 93px;
}

.header-nav {
  margin-right: 318px;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.header-logo-span {
  color: #2196f3;
}

.nav-list {
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-item a {
  padding-bottom: 28px;
}

.nav-list-item:hover,
.nav-list-item:focus {
  color: #2196f3;
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-contact-item {
  color: #757575;
}

.header-contact-item a {
  display: flex;
  align-items: center;
}

.header-contact-item:not(:last-child) {
  margin-right: 30px;
}

.header-contact-item:hover {
  color: #2196f3;
  fill: #2196f3;
}

.header-contact-icon {
  margin-right: 10px;
}

/* Hero section */
.hero-section {
  height: 400px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero-section {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/hero/hero-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}

.hero-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: 0;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Cекцiя Переваги */
.advantages-list {
  display: flex;
}

.advantages-list li:not(:last-child) {
  margin-right: 30px;
}

.advantages-image {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  padding: 25px 100px;
  border-radius: 4px;
}

.advantages-subtitle {
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantages-text {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Секція Постійні клієнти */
.customers-subtitle {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
}

.customers-list > li:not(:last-child) {
  margin-right: 30px;
}

.customer-list-item-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-list-item-link:hover,
.customer-list-item-link:focus {
  border: 1px solid #2196f3;
}

.customer-list-item-link:hover svg {
  fill: #2196f3;
}

.customer-list-item-link svg {
  fill: #afb1b8;
}

/* Page Portfolio */
/* Page Portfolio */ /* Секція Чим ми займаємося */
.doings-subtitle {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  margin-bottom: 50px;
}

.doings-list {
  display: flex;
}

.doings-list li:not(:last-child) {
  margin-right: 30px;
}

.doings-thumb {
  position: relative;
}

.doings-thumb-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Секція Наша команда */
.team-section {
  background: #f5f4fa;
}

.team-subtitle {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list > li:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list-image {
  margin-bottom: 30px;
}

.team-list-item h4 {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list-item p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-icons-list {
  display: flex;
}

.social-icons-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: #2196f3;
}

.social-icon {
  fill: #afb1b8;
}

.social-icons-link:hover .social-icon {
  fill: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-input-title {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}

.modal-form-input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
}
.modal-form-input:focus {
  outline: none;
  border-color: #2196F3;
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
}

.modal-form-input:focus + .modal-icon {
  fill: #2196F3;
}

.modal-form-input-comment {
  resize: none;
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  transition: transform 250ms ease-in;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-close:focus {
  fill: #2196F3;
  border: #2196F3;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}