.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}




/* Form */

.submit-form {
  display: flex;
  align-items: center;
}

.submit-input::placeholder {
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: #2f303a;
  color: #fff;
  padding-left: 16px;
}

.footer-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 28px;
  cursor: pointer;
}

/* Page Portfolio */

/* Project Section */

.project-section {
}

.button-nav {
  margin-bottom: 50px;
}

.button-nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-nav-item {
}

.button-nav-item:not(:last-child) {
  margin-right: 8px;
}

.button-nav-button {
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}

.button-nav-button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

/* Details cards */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-list-item {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  flex-basis: calc((100% - 90) / 3);
}

.projects-list-item:hover .project-text-overlay {
  transform: translateY(0);
  opacity: 1;
}

.projects-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-image {
  margin-bottom: 20px;
}

.projects-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
  margin: 0 24px;
}

.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 24px;
}

.project-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms ease-in-out;
}

.project-thumb-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}
