html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

section {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* Header */

.header {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header .container {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.header-logo-studio {
  margin-right: 93px;
}

.header-nav {
  margin-right: 318px;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.header-logo-span {
  color: #2196f3;
}

.nav-list {
  display: flex;
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-item:hover {
  color: #2196f3;
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-contact-item {
  color: #757575;
}

.header-contact-item a {
  display: flex;
  align-items: center;
}

.header-contact-item:not(:last-child) {
  margin-right: 30px;
}

.header-contact-item:hover {
  color: #2196f3;
  fill: #2196f3;
}

.header-contact-icon {
  margin-right: 10px;
}

/* Hero section */

.hero-section {
  /* max-width: 1600px; */
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  color: #ffffff;
}

.hero-button {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: 0;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* Cекцiя Переваги */

.advantages-section {
}

.advantages-list {
  display: flex;
}

.advantages-list li:not(:last-child) {
  margin-right: 30px;
}

.advantages-image {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  padding: 25px 100px;
  border-radius: 4px;
}

.advantages-subtitle {
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.advantages-text {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Секція Чим ми займаємося */

.doings-subtitle {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  margin-bottom: 50px;
}

.doings-list {
  display: flex;
}

.doings-list li:not(:last-child) {
  margin-right: 30px;
}

/* Секція Наша команда */

.team-section {
  background: #f5f4fa;
}

.team-subtitle {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-list li:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list-image {
  margin-bottom: 30px;
}

.team-list-item h4 {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list-item p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-icons-list {
  display: flex;
}

.social-icons-link svg:hover {
  background: #2196f3;
  fill: #fff;
}

.social-icon {
  fill: #afb1b8;
}

/* Секція Постійні клієнти */

.customers-subtitle {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customers-list li:not(:last-child) {
  margin-right: 30px;
}

.customer-list-item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
}

.customer-list-item-link svg:hover {
  fill: #2196f3;
}

/* footer */

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer {
  background: #2f303a;
  padding: 60px;
}

.footer-box {
}
.footer-contacts {
}
.footer-logo {
}

.footer-logo-studio {
  margin-bottom: 20px;
}

.footer-contacts-list {
}

.footer-contact-item {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-contact-item-gray {
  ont-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.footer-social-icons {
}

.footer-joing-title {
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-joing-list {
  display: flex;
}

.footer-joing-item {
}

.footer-joing-item:not(:last-child) {
  margin-right: 10px;
}

.footer-submit {
}
.footer-join-title {
}

/* Form */

.submit-form {
  display: flex;
  align-items: center;
}

.submit-input::placeholder {
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.submit-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
}

.footer-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 28px;
}
