/* Page Portfolio */

/* Button menu */

.button-nav {
  margin-bottom: 40px;
}

.button-nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.button-nav-item {
}

.button-nav-item:not(:last-child) {
  margin-right: 8px;
}

.button-nav-button {
  padding: 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #212121;
}

.button-nav-button:hover,
.button-nav-button:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

/* Details cards */

.projects-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.projects-list-item:hover .project-text-overlay {
  transform: translateY(0);
  opacity: 1;
}

.projects-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.projects-thumb {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.projects-image {
}

.projects-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
  margin: 0 24px;
}

.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 24px;
  margin-bottom: 20px;
}

.project-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms ease-in-out;
}

.project-thumb-text {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .button-nav {
    margin-bottom: 40px;
  }

  .button-nav-list {
    justify-content: center;
    align-items: center;
  }

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .projects-list-item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

/* Desktop */

@media screen and (min-width: 1200px) {
  .button-nav {
    margin-bottom: 48px;
  }

  .projects-list-item {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}
