/* Секція Чим ми займаємося */

.doings-section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .doings-section {
    display: block;
  }

  .doings-subtitle {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .doings-list {
    display: flex;
  }

  .doings-list li:not(:last-child) {
    margin-right: 30px;
  }

  .doings-thumb {
    position: relative;
  }

  .doings-thumb-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
  }
}
