/* Секція Наша команда */

.team-section {
  background: #f5f4fa;
}

.team-subtitle {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0 auto;
  margin-bottom: 50px;
}

.team-image {
  margin-bottom: 30px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list-item h4 {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list-item p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
  text-align: center;
}

.team-icons-list {
  display: flex;
  margin-bottom: 30px;
}

.social-icons-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: #2196f3;
}

.social-icon {
  fill: #afb1b8;
}

.social-icons-link:hover .social-icon {
  fill: #fff;
}

/* Tablet */

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .team-list-item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

/* Desktop */

@media screen and (min-width: 1200px) {
  .team-list-item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }

  .team-subtitle {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
