@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: white;

    color: #212121;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);

    &__container {
      position: relative;
      padding-top: 48px;
      padding-bottom: 48px;
      padding-left: 40px;
    }

    &__close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      background-color: transparent;
      border: none;
    }

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateX(0);
      transition: opacity 900ms ease-in, transform 900ms ease-in;
    }
  }

  .menu {
    display: block;
  }

  .mobile-list {
    margin-bottom: 32px;
  }

  .mobile-item {
    color: $titleColor;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.8px;
  }

  .mobile-item:not(:last-child),
  .mobile-contact-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-list-contact {
    margin-bottom: 44px;
  }

  .mobile-contact-item {
    color: $mainTextColor;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;
  }

  .mobile-item:hover,
  .mobile-item:focus,
  .mobile-contact-item:hover,
  .mobile-contact-item:focus {
    color: $linkColor;
  }

  .mobile-social-list {
    display: flex;
  }

  .mobile-social-item {
    color: $linkColor;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
  }

  .mobile-social-item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
