.backdrop.is-hidden .modal {
  transform: translate(-50px, -50%) scale(0);
}

/* Form */

.modal-form {
  position: relative;
}

.modal-input-title {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
  color: $mainTextColor;
}

.modal-form-input {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;

  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: $linkColor;
  }
}

.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
}

.modal-form-input:focus + .modal-icon {
  fill: $linkColor;
}

/* Comment */

.modal-form-input-comment {
  resize: none;
  padding: 12px 16px;
}

.modal-form-checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-title {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.checkbox-link {
  color: #2196f3;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}

.modal-button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;

  border-radius: 4px;
  background: $linkColor;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 52px;
  display: flex;
  margin: auto;
  cursor: pointer;

  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}
